.footer {
    background-color: #2C3E50;
    color: #F8E8D4;
    text-align: left;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 400;
    border-top: 2px solid #C9A66B;
    margin-top: auto;
    border-radius: 10px;

    p {
        margin: 0;
    }
}